html {
    background-color: white;
    align-content: center;
}

body {
    font-family: sans-serif;
    max-width: 60em;
    width: 84%;
    padding: 4%;
    margin: 4em auto;
    background-color: #fbfbf9;
    line-height: 135%;
    font-size: 1em;
    letter-spacing: 0.04em;
    box-shadow: #aaaaaa 0.1em 0.1em 0.5em;
    color: #333333;
}

img {
    width: 60%;
    padding-left: 20%;
    margin: 2em 0;
}

pre {
    background-color: #eeeeee;
    padding: 1em;
    border-radius: 0.4em;
    text-indent: 0;
}

code {
    color: rgb(10,10,80);
    background-color: #eeeee0;
    padding: 1px 4px;
    border-radius: 4px;
    font-family: monospace;
}

pre code {
    background-color: rgba(0,0,0,0);
}

blockquote {
    border: rgb(40,40,160) 0.5em;
    border-left-style: solid;
    margin: 1.2em 0;
    padding: 1.6em;
    background-color: rgb(255, 255, 255);
    color: rgb(20,20,40);
}

em {
    padding-right: 0.2em;
}

li {
    color: black;
}

a {
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(20,20,200);
    margin: 0.2em 0;
}

b {
    margin: 0.2em 0;
}

h1 {
    line-height: 150%;
    padding-bottom: 0.4em;
    font-size: 3em;
    border: rgb(100,100,100) 0.05em;
    border-bottom-style: solid;
}

h2 {
    line-height: 140%;
    padding-bottom: 0.3em;
    font-size: 2.4em;
    border: rgb(100,100,100) 0.03em;
    border-bottom-style: solid;
}

h3 {
    line-height: 130%;
    font-size: 2.1em;
}

h4 {
    line-height: 120%;
    font-size: 1.8em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h5 {
    font-size: 1.6em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

h6 {
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
}